<table>
	<thead>
		<tr>
			<th>Place</th>
			<th>Essence</th>
			<th>The Goods</th>
		</tr>
	</thead>

	<tbody>
		<% @places.each do |place| %>
			<tr>
				<td><%= place.name %></td>
				<td><%= place.picture_url %></td>
				<td><%= place.review %></td>
			</tr>
			<% end %>
	</tbody>
</table>